* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    grid-template-columns: repeat(7, 1fr);
    min-height: 100vh;
    width: 75rem;
    margin: 3rem auto;
    display: grid;
}

.left-section{
    height: 95%;
    margin: 2rem auto;
    background-color: #00204A;
    grid-column: span 2;
    width: 15rem;
        
}

.header-presentation{
    padding: 1rem;
    box-sizing: border-box;

}

.profile-image{
    width: 100%;
    border-radius: 100%;
}

.name{
    color: #D6DBDF;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

.ocupation{
    color: #FDB44B;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 2px #1B2631 solid;
    padding-bottom: 2rem;
    text-align: center;
}

.header-information{  /*contato e skills*/
    width: 80%;
    padding: 3rem;
}


.header-contact{
    padding-bottom: 4rem;
}

.contact, .skills{
    color: #FDB44B;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 1.0rem;
    font-size: 1.5rem;
}

.list-information{
    list-style: none;
    color: #a5b9ca;
    line-height: 2rem;
}

.list-uppercase{
    text-transform: uppercase;
}

.right-section{
    grid-column: span 5;
    background: #4B6982;
    height: 95%;
    margin: 2rem auto;
    width: 60rem;
    border-radius: 0px 60px 0px 0px;
}

.about-me, .experience, .education, .certificates{
    padding: 3rem;
}

.right-titles{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    color: #70C6C7;
    margin-top: -1rem;
}

.about-me p{
    color: #F1F8FD;
    padding-top: 0.5rem;
}


.experience-grid, .education-grid, .certificates-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.3rem 0 0 0;
}



.company-name, .work-ocupation, .school-name, .school-ocupation, .cert-school, .cert-name{
    color: #FDB44B;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.work-period, .job-description, .school-period, .school-description, .cert-period, .cert-issued{
    color: #F1F8FD;
    margin-bottom: 1rem;
}

.job-description, .school-description, .cert-issued{
    border-left: 1px #F1F8FD solid;
    padding-left: 0.7rem;
}

.a:link, a:visited, a:active{
    color: #F1F8FD;
}

a:hover{
    color: #70C6C7;
}

